div#container
{
   width: 1250px;
   position: relative;
   margin: 0 auto 0 auto;
   text-align: left;
}
body
{
   background-color: #FFFFFF;
   background-image: url(images/archangel.jpg);
   background-attachment: scroll;
   background-position: left top;
   background-repeat: no-repeat;
   color: #000000;
   font-family: "Triodion ieUcs";
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   text-align: center;
}
#wb_indexHeading1
{
   background-color: transparent;
   background-image: none;
   border: 0px transparent solid;
   padding: 0px 0px 0px 0px;
}
#indexHeading1
{
   color: #FF0000;
   font-family: "Triodion ieUcs";
   font-weight: normal;
   font-size: 43px;
   margin: 0;
   text-align: center;
}
#wb_indexCssMenu1
{
   border: 0px #FF0000 solid;
   background-color: transparent;
}
#wb_indexCssMenu1 ul
{
   list-style-type: none;
   margin: 0;
   padding: 0;
   position: relative;
   display: inline-block;
}
#wb_indexCssMenu1 li
{
   float: left;
   margin: 0;
   padding: 0px 0px 0px 0px;
}
#wb_indexCssMenu1 a
{
   display: block;
   float: left;
   color: #FF0000;
   border: 1px #FF0000 ridge;
   -moz-border-radius: 3px;
   -webkit-border-radius: 3px;
   border-radius: 3px;
   background-color: transparent;
   background-image: none;
   font-family: "Triodion ieUcs";
   font-weight: normal;
   font-size: 20px;
   font-style: normal;
   text-decoration: none;
   height: 26px;
   line-height: 26px;
   padding: 0px 1px 0px 1px;
   vertical-align: middle;
   text-align: center;
}
#wb_indexCssMenu1 li:hover a, #wb_indexCssMenu1 a:hover, #wb_indexCssMenu1 .active
{
   color: #FF7F50;
   background-color: transparent;
   background-image: none;
   border: 1px #FF7F50 ridge;
}
#wb_indexCssMenu1 li.firstmain
{
   padding-left: 0px;
}
#wb_indexCssMenu1 li.lastmain
{
   padding-right: 0px;
}
#wb_indexCssMenu1 li:hover, #wb_indexCssMenu1 li a:hover
{
   position: relative;
}
#wb_indexCssMenu1 a.withsubmenu
{
   padding: 0 5px 0 5px;
   background-image: none;
}
#wb_indexCssMenu1 li:hover a.withsubmenu, #wb_indexCssMenu1 a.withsubmenu:hover
{
   background-image: none;
}
#wb_indexCssMenu1 ul ul
{
   position: absolute;
   left: 0;
   top: 0;
   visibility: hidden;
   width: 120px;
   height: auto;
   border: none;
   background-color: transparent;
}
#wb_indexCssMenu1 ul :hover ul
{
   left: 0px;
   top: 28px;
   padding-top: 0px;
   visibility: visible;
}
#wb_indexCssMenu1 .firstmain:hover ul
{
   left: 0px;
}
#wb_indexCssMenu1 li li
{
   width: 120px;
   padding: 0 0px 0px 0px;
   border: 0px #FF0000 solid;
   border-width: 0 0px;
}
#wb_indexCssMenu1 li li.firstitem
{
   border-top: 0px #FF0000 solid;
}
#wb_indexCssMenu1 li li.lastitem
{
   border-bottom: 0px #FF0000 solid;
}
#wb_indexCssMenu1 ul ul a, #wb_indexCssMenu1 ul :hover ul a
{
   float: none;
   margin: 0;
   width: 116px;
   height: auto;
   white-space: normal;
   padding: 3px 1px 3px 1px;
   background-color: transparent;
   background-image: none;
   border: 1px #FF0000 groove;
   -moz-border-radius: 3px;
   -webkit-border-radius: 3px;
   border-radius: 3px;
   color: #FF0000;
   font-family: "Triodion ieUcs";
   font-weight: normal;
   font-size: 20px;
   font-style: normal;
   line-height: 20px;
   text-align: center;
   text-decoration: none;
}
#wb_indexCssMenu1 ul :hover ul .firstitem a
{
   margin-top: 0px;
}
#wb_indexCssMenu1 ul ul :hover a, #wb_indexCssMenu1 ul ul a:hover, #wb_indexCssMenu1 ul ul :hover ul :hover a, #wb_indexCssMenu1 ul ul :hover ul a:hover
{
   background-color: transparent;
   background-image: none;
   border: 1px #FF7F50 groove;
   color: #FF7F50;
}
#wb_indexCssMenu1 br
{
   clear: both;
   font-size: 1px;
   height: 0;
   line-height: 0;
}
